body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

button {
  background-color: white;
  border: grey solid 2px;
  border-radius: 5px;
  color: black;
  padding: 10px 20px;
}

button:hover {
  background-color: lightgray;
}

button:disabled {
  background-color: lightgray;
  color: gray;
}
